<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>alley</key>
		<string></string>
		<key>hasLuggage</key>
		<true/>
		<key>hasPet</key>
		<false/>
		<key>hasWheelChair</key>
		<false/>
		<key>isDrunk</key>
		<false/>
		<key>lane</key>
		<string></string>
		<key>memo</key>
		<string>STUDIO A 大立精品店</string>
		<key>name</key>
		<string>郭瑩山</string>
		<key>number</key>
		<string>57</string>
		<key>region</key>
		<string>高雄市</string>
		<key>road</key>
		<string>五福三路</string>
		<key>section</key>
		<string></string>
		<key>tel</key>
		<string>0927688670</string>
		<key>useCreditCard</key>
		<true/>
		<key>zone</key>
		<string>前金區</string>
	</dict>
	<dict>
		<key>alley</key>
		<string></string>
		<key>hasLuggage</key>
		<false/>
		<key>hasPet</key>
		<false/>
		<key>hasWheelChair</key>
		<false/>
		<key>isDrunk</key>
		<false/>
		<key>lane</key>
		<string></string>
		<key>memo</key>
		<string>台中逢甲店</string>
		<key>name</key>
		<string>方寧辰</string>
		<key>number</key>
		<string>407</string>
		<key>region</key>
		<string>台中市</string>
		<key>road</key>
		<string>福星路</string>
		<key>section</key>
		<string></string>
		<key>tel</key>
		<string>0913814021</string>
		<key>useCreditCard</key>
		<false/>
		<key>zone</key>
		<string>西屯區</string>
	</dict>
	<dict>
		<key>alley</key>
		<string></string>
		<key>hasLuggage</key>
		<false/>
		<key>hasPet</key>
		<false/>
		<key>hasWheelChair</key>
		<true/>
		<key>isDrunk</key>
		<true/>
		<key>lane</key>
		<string></string>
		<key>memo</key>
		<string>2 樓</string>
		<key>name</key>
		<string>馬淑燕</string>
		<key>number</key>
		<string>299</string>
		<key>region</key>
		<string>台中市</string>
		<key>road</key>
		<string>台中港路</string>
		<key>section</key>
		<string>一</string>
		<key>tel</key>
		<string>0932101333</string>
		<key>useCreditCard</key>
		<false/>
		<key>zone</key>
		<string></string>
	</dict>
	<dict>
		<key>alley</key>
		<string></string>
		<key>hasLuggage</key>
		<false/>
		<key>hasPet</key>
		<false/>
		<key>hasWheelChair</key>
		<false/>
		<key>isDrunk</key>
		<true/>
		<key>lane</key>
		<string></string>
		<key>memo</key>
		<string>優仕 敦南店</string>
		<key>name</key>
		<string>張怡君</string>
		<key>number</key>
		<string>219</string>
		<key>region</key>
		<string>台北市</string>
		<key>road</key>
		<string>敦化南路</string>
		<key>section</key>
		<string>一</string>
		<key>tel</key>
		<string>0955503379</string>
		<key>useCreditCard</key>
		<false/>
		<key>zone</key>
		<string>大安區</string>
	</dict>
	<dict>
		<key>alley</key>
		<string></string>
		<key>hasLuggage</key>
		<false/>
		<key>hasPet</key>
		<false/>
		<key>hasWheelChair</key>
		<false/>
		<key>isDrunk</key>
		<false/>
		<key>lane</key>
		<string></string>
		<key>memo</key>
		<string></string>
		<key>name</key>
		<string>楊舒平</string>
		<key>number</key>
		<string>122</string>
		<key>region</key>
		<string>新北市</string>
		<key>road</key>
		<string>中山路</string>
		<key>section</key>
		<string>三</string>
		<key>tel</key>
		<string>0916966288</string>
		<key>useCreditCard</key>
		<false/>
		<key>zone</key>
		<string>中和區</string>
	</dict>
	<dict>
		<key>alley</key>
		<string></string>
		<key>hasLuggage</key>
		<false/>
		<key>hasPet</key>
		<false/>
		<key>hasWheelChair</key>
		<false/>
		<key>isDrunk</key>
		<false/>
		<key>lane</key>
		<string>609</string>
		<key>memo</key>
		<string></string>
		<key>name</key>
		<string>楊舒平</string>
		<key>number</key>
		<string>18</string>
		<key>region</key>
		<string>新北市</string>
		<key>road</key>
		<string>三重路</string>
		<key>section</key>
		<string>五</string>
		<key>tel</key>
		<string>0916966288</string>
		<key>useCreditCard</key>
		<false/>
		<key>zone</key>
		<string>中和區</string>
	</dict>
</array>
</plist>
